### For loop and Basic Statistics

In [ ]:
# The for loop is a generic iterator in Python: it can step through the 
# items in any ordered sequence or other iterable object.

#(max, min, Sum,) Mean, Median, mode, Average, Quantile, and Percentile in 
#1st, 2nd and #3rd ranking.

#Python can only return max, min, and Sum, while other Built-in functions
#respond in Matplotlib

#---reference fom w3chool.com

In [ ]:
#General format or The syntax of For loop
'''for target in object: ---Assign object items to target
        statements ---Repeated loop body: use target
        else: ---Optional else part
        statements ---If we didn't hit a 'break'''

In [6]:
Digits = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [8]:
min(Digits)

0

In [9]:
max(Digits)

9

In [11]:
sum(Digits)

45

### For loop

In [19]:
magicians = ['alice', 'david', 'carolina']

for magician in magicians:
    print(magician)

alice
david
carolina

In [21]:
magicians = ['alice', 'david', 'carolina']
#We star by creating a Lis of magicians

for magician in magicians:
#This line tells Python to retrieve the first value from the list magicians
# and store it in the variable magician. This first value is 'alice'. Python then
# reads the next line:

    print(magician)
#Python prints the current value of magician, which is still 'alice'. Because
# the list contains more values, Python returns to the first line of the loop:

alice
david
carolina

In [19]:
#more things we can do with for loop
magicians = ['alice,', 'david', 'carolina']

for magician in magicians:
    print(magician.title() + ", that was a great trick we ever seen!")
    print("I can't wait to see your next trick, " + magician.title() + ".\n")
    
print("Thankyou everyone. That was a great magic show!")

Alice,, that was a great trick we ever seen!
I can't wait to see your next trick, Alice,.

David, that was a great trick we ever seen!
I can't wait to see your next trick, David.

Carolina, that was a great trick we ever seen!
I can't wait to see your next trick, Carolina.

Thankyou everyone. That was a great magic show!

In [ ]:
#Avoid indentation error... and syntax error that comes from omitted colon (:)

In [ ]:
#range(), with list and for loop 

even_numbers = list(range(2,13,2))

for value in even_numbers:
    print(value)

In [30]:
#method 1
squares = []

for value in range(1,13):
    square = value**2
    squares.append(square)

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144]

In [29]:
#method 2
squares = []
n = range(1,13)

for value in n:
    square = value**2
    squares.append(square)

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144]

In [36]:
#method 3
squares = []

for value in range(1,13):
    squares.append(value**2)
    
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144]

In [37]:
#method 4

square = [value**2 for value in range(1,13)]
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144]

In [43]:
#For loop with if statement  

total_3 = 0
for value in range(1,8):
    if value % 3 == 0:
        total_3 += value #: total_3 = total_3 + value 
        
print(total_3)

9

In [48]:
sum_1 = []

for n in range(1,1000):
    if n % 3 == 0:
        sum_1.append(n)
    elif n % 5 == 0:
        sum_1.append(n)
print(sum_1) 

sum_2 = 0
for i in sum_1:
    sum_2 += i
print(sum_2)

[3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27, 30, 33, 35, 36, 39, 40, 42, 45, 48, 50, 51, 54, 55, 57, 60, 63, 65, 66, 69, 70, 72, 75, 78, 80, 81, 84, 85, 87, 90, 93, 95, 96, 99, 100, 102, 105, 108, 110, 111, 114, 115, 117, 120, 123, 125, 126, 129, 130, 132, 135, 138, 140, 141, 144, 145, 147, 150, 153, 155, 156, 159, 160, 162, 165, 168, 170, 171, 174, 175, 177, 180, 183, 185, 186, 189, 190, 192, 195, 198, 200, 201, 204, 205, 207, 210, 213, 215, 216, 219, 220, 222, 225, 228, 230, 231, 234, 235, 237, 240, 243, 245, 246, 249, 250, 252, 255, 258, 260, 261, 264, 265, 267, 270, 273, 275, 276, 279, 280, 282, 285, 288, 290, 291, 294, 295, 297, 300, 303, 305, 306, 309, 310, 312, 315, 318, 320, 321, 324, 325, 327, 330, 333, 335, 336, 339, 340, 342, 345, 348, 350, 351, 354, 355, 357, 360, 363, 365, 366, 369, 370, 372, 375, 378, 380, 381, 384, 385, 387, 390, 393, 395, 396, 399, 400, 402, 405, 408, 410, 411, 414, 415, 417, 420, 423, 425, 426, 429, 430, 432, 435, 438, 440, 441, 444, 445, 447, 450, 453, 455, 456, 459, 460, 462, 465, 468, 470, 471, 474, 475, 477, 480, 483, 485, 486, 489, 490, 492, 495, 498, 500, 501, 504, 505, 507, 510, 513, 515, 516, 519, 520, 522, 525, 528, 530, 531, 534, 535, 537, 540, 543, 545, 546, 549, 550, 552, 555, 558, 560, 561, 564, 565, 567, 570, 573, 575, 576, 579, 580, 582, 585, 588, 590, 591, 594, 595, 597, 600, 603, 605, 606, 609, 610, 612, 615, 618, 620, 621, 624, 625, 627, 630, 633, 635, 636, 639, 640, 642, 645, 648, 650, 651, 654, 655, 657, 660, 663, 665, 666, 669, 670, 672, 675, 678, 680, 681, 684, 685, 687, 690, 693, 695, 696, 699, 700, 702, 705, 708, 710, 711, 714, 715, 717, 720, 723, 725, 726, 729, 730, 732, 735, 738, 740, 741, 744, 745, 747, 750, 753, 755, 756, 759, 760, 762, 765, 768, 770, 771, 774, 775, 777, 780, 783, 785, 786, 789, 790, 792, 795, 798, 800, 801, 804, 805, 807, 810, 813, 815, 816, 819, 820, 822, 825, 828, 830, 831, 834, 835, 837, 840, 843, 845, 846, 849, 850, 852, 855, 858, 860, 861, 864, 865, 867, 870, 873, 875, 876, 879, 880, 882, 885, 888, 890, 891, 894, 895, 897, 900, 903, 905, 906, 909, 910, 912, 915, 918, 920, 921, 924, 925, 927, 930, 933, 935, 936, 939, 940, 942, 945, 948, 950, 951, 954, 955, 957, 960, 963, 965, 966, 969, 970, 972, 975, 978, 980, 981, 984, 985, 987, 990, 993, 995, 996, 999]
233168

In [5]:
total_4 = 0 
for f in range(1,100):
    if f % 3 == 0 | f % 5 == 0:
        total_4 =+ i
print(total_4)

99

In [6]:
a = ["apple", "banana", "republic"]

In [21]:
# Looping through a String  
for letter in "Birotojo":
    print(letter)

B
i
r
o
t
o
j
o

In [20]:
# Looping through a List   
letters = ["a", "b", "c"]
for letter in (letters):
    print(letter)

a
b
c

In [ ]:
letters = ["a", "b", "c"]

In [19]:
# gettin a Tuple return 
# When dealing with Tuple, it is read-only, we can't add or remove elements from it  
letters = ["a", "b", "c"]
for letter in enumerate(letters):
    print(letter)

(0, 'a')
(1, 'b')
(2, 'c')

In [24]:
for number in range(3):
    print("Attempt", number)

Attempt 0
Attempt 1
Attempt 2

In [25]:
for number in range(3):
    print("Attempt", number + 1)

Attempt 1
Attempt 2
Attempt 3

In [28]:
for number in range(3):
    print("Attempt", number + 1, (number + 1) * ".")

Attempt 1 .
Attempt 2 ..
Attempt 3 ...

In [29]:
#For Loop with Boolean
Successful = True
for number in range(3):
    if Successful:
        print("Successful")
        break

Successful

In [30]:
#For Loop with Boolean
Successful = True
for number in range(3):
    print("Attempted")
    if Successful:
        print("Successful")
        break
    else:
        print("Attempted 3 times")

Attempted
Successful

In [1]:
#For Loop with Boolean
 
Successful = False
for number in range(3):
    print("Attempted")
    if Successful:
        print("Successful")
        break
else:                                       #For-else statement
    print("Attempted 3 times and failed")

Attempted
Attempted
Attempted
Attempted 3 times and failed

In [2]:
#For Loop with Boolean
Successful = False
for number in range(3):
    print("Attempted")
    if Successful:
        print("Successful")
        break
    else:                                    #Else statement 
        print("Attempted 3 times and failed")

Attempted
Attempted 3 times and failed
Attempted
Attempted 3 times and failed
Attempted
Attempted 3 times and failed

In [17]:
#Nested loop
for i in range(len(a)):
    for j in range(i + 1):
        print(a[i])

apple
banana
banana
republic
republic
republic

In [3]:
#Nested loop returning in formatted String with coordinate

for x in range(5): #outer loop or Parent loop
    for y in range(1,4): #inner loop or child loop
        print(f"({x}, {y})")

(0, 1)
(0, 2)
(0, 3)
(1, 1)
(1, 2)
(1, 3)
(2, 1)
(2, 2)
(2, 3)
(3, 1)
(3, 2)
(3, 3)
(4, 1)
(4, 2)
(4, 3)

In [4]:
#Exercise
count = 0
for number in range(2, 9, 2):
    count += 1              #incrementing count
   # print(count)
    print(number)
print(f"we have {count} even numbers")

2
4
6
8
we have 4 even numbers

In [18]:
#Exercise
count = 0
for number in range(1,10):
    if number % 2 == 0:
        count += 1          
#         print(count)
        print(number)
print(f"we have {count} even numbers")

2
4
6
8
we have 4 even numbers

In [12]:
txt = "Hello World"[::-1]
print(txt)

dlroW olleH